<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wht.pay.dao.BlogDao">
    <select id="getBlogById" resultType="Blog">
      select * from blog where id = #{id}
    </select>

    <select id="getBlogByPage" parameterType="map" resultType="Blog">
        select * from blog
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>
</mapper>